<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="mixedSecureBinding">
          <security/>
          <httpTransport authenticationScheme="Ntlm"/>
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="WsHttpBinding_Mtom" closeTimeout="00:00:10" openTimeout="00:00:20" receiveTimeout="00:00:30" sendTimeout="00:00:40"
							bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
							messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="false" maxReceivedMessageSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="WsHttpsBinding_Mtom" closeTimeout="00:00:10" openTimeout="00:00:20" receiveTimeout="00:00:30" sendTimeout="00:00:40"
								bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
								messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="false" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
        <binding name="WsHttpBinding_Text" closeTimeout="00:00:10" openTimeout="00:00:20" receiveTimeout="00:00:30" sendTimeout="00:00:40"
					 bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
					 messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="false" maxReceivedMessageSize="400000000">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="163840"
					  maxBytesPerRead="4096" maxNameTableCharCount="163840" />
          <security mode="None"/>
        </binding>
        <binding name="WsHttpsBinding_Text" closeTimeout="00:00:10" openTimeout="00:00:20" receiveTimeout="00:00:30" sendTimeout="00:00:40"
				  bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
				  messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="false" maxReceivedMessageSize="400000000">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="163840"
					  maxBytesPerRead="4096" maxNameTableCharCount="163840" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
        <binding name="WSHttpBinding_EphorteWebInternalService" closeTimeout="00:01:00"
					 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
					 bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
					 maxBufferPoolSize="524288" maxReceivedMessageSize="6553600" messageEncoding="Text"
					 textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="163840"
					  maxBytesPerRead="4096" maxNameTableCharCount="163840" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
					  enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
						  realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Text_Buffered" closeTimeout="00:11:00"
				  openTimeout="00:12:00" receiveTimeout="00:13:00" sendTimeout="00:14:00"
				  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				  maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
				  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
				  useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
					  maxBytesPerRead="4096" maxNameTableCharCount="163840" />
        </binding>
        <binding name="BasicHttpsBinding_Text_Buffered" closeTimeout="00:11:00"
					  openTimeout="00:12:00" receiveTimeout="00:13:00" sendTimeout="00:14:00"
					  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
					  maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
					  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
					  useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
							maxBytesPerRead="4096" maxNameTableCharCount="163840" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_Mtom_Streamed"
					 closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
					 transferMode="Streamed" messageEncoding="Mtom"
					 maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None">
          </security>
        </binding>
        <binding name="BasicHttpsBinding_Mtom_Streamed"
		   closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
		   transferMode="Streamed" messageEncoding="Mtom"
		   maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_Mtom_Buffered"
					 closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
					 transferMode="Buffered" messageEncoding="Mtom"
					 maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None">
          </security>
        </binding>
        <binding name="BasicHttpsBinding_Mtom_Buffered"
					closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
					transferMode="Buffered" messageEncoding="Mtom"
					maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="config"/>
      </webHttpBinding>
    </bindings>

    <client>
      <!--DocumentService client endpoints-->
      <endpoint address="http://localhost:8913/ephortewebintegrationtests/services/documents/v1/DocumentService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Mtom_Streamed" contract="Documents.V1.DocumentsService" name="DocumentServiceV1_BasicHttpBinding" />
      <endpoint address="http://localhost:8913/ephortewebintegrationtests/services/documents/v2/DocumentService.svc/ws" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding_Mtom" contract="Documents.V2.Documents" name="DocumentServiceV2_WSHttpBinding" />
      <endpoint address="http://localhost:8913/ephortewebintegrationtests/services/documents/v3/DocumentService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Mtom_Buffered" contract="Documents.V3.DocumentService" name="BasicHttpBinding_DocumentService"  />

      <!--ObjectModelService client endpoints-->
      <endpoint address="http://localhost:8913/ephortewebintegrationtests/Services/objectmodel/v1/ObjectModelService.svc" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding_Text" contract="ObjectModel.V1.ObjectModelService" name="ObjectModelServiceV1_WSHttpBinding" />
      <endpoint address="http://localhost:8913/ephortewebintegrationtests/services/objectmodel/v2/ObjectModelService.svc" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding_Text" contract="ObjectModel.V2.ObjectModelService" name="ObjectModelServiceV2_WSHttpBinding" />
      <endpoint address="http://localhost:8913/ephortewebintegrationtests/services/objectmodel/v3/no/ObjectModelService.svc" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding_Text" contract="ObjectModel.V3.No.ObjectModelService" name="ObjectModelServiceV3No_WSHttpBinding" />
      <endpoint address="http://localhost:8913/ephortewebintegrationtests/services/objectmodel/v3/en/ObjectModelService.svc" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding_Text" contract="ObjectModel.V3.En.ObjectModelService" name="ObjectModelServiceV3En_WSHttpBinding" />

      <!--FunctionService client endpoints-->
      <endpoint address="http://localhost:8913/ephortewebintegrationtests/Services/Functions/V1/FunctionsService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Text_Buffered" contract="Functions.V1.FunctionsService"  name="FunctionsServiceV1_BasicHttpBinding" />

      <endpoint address="http://gvs-e4-2-0/Trunk/Services/Functions/V2/FunctionsService.svc"
				  binding="wsHttpBinding"
				  bindingConfiguration="WsHttpBinding_Text"
				  contract="Functions.V2.FunctionsService"
				  name="FunctionServiceV2_WSHttpBinding" />

      <!--ChangeTrackingService client endpoints-->
      <endpoint address="http://localhost:8913/ephortewebintegrationtests/Services/ChangeTracking/V1/ChangeTrackingService.svc/ws" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding_Text" contract="ChangeTracking.V1.ChangeTrackingService" name="ChangeTrackingServiceV1_WSHttpBinding" />

      <!-- MetadataService client endpoints-->
      <endpoint address="http://localhost:8913/ephortewebintegrationtests/services/metadata/v1/MetadataService.svc/ws" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding_Text" contract="Metadata.V1.MetadataService" name="MetadataServiceV1_WSHttpBinding" />

      <!--EphorteInternalService client endpoints-->
      <endpoint address="http://localhost:8913/ephortewebintegrationtests/Services/ePhorteWebInternal/ePhorteWebInternalService.svc" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding_Text" contract="ePhorteWebInternal.EphorteWebInternalService" name="EphorteWebInternalService_WSHttpBinding" />
    </client>

    <behaviors>
      <serviceBehaviors>
        <behavior name="Ephorte.ServiceModel.StreamingBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="Ephorte.ServiceModel.Behavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceAuthorization impersonateCallerForAllOperations="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="Ephorte.Services.ChangesBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp/>
        </behavior>
        <behavior name="IntellisearchEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>