<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gecko.NCore.Client" version="9.3.2" targetFramework="net40" />
  <package id="Gecko.NCore.Client.Documents.V3" version="6.4.2" targetFramework="net40" />
  <package id="Gecko.NCore.Client.ObjectModel.V3.En" version="7.0.0" targetFramework="net40" />
  <package id="WCFExtrasPlus" version="2.3.1" targetFramework="net40" />
</packages>